
@{
    ViewBag.Title = "StuAlter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@using Du_Class.Models;
@model Student

@{
    List<Class> cla = ViewBag.CAL;
}

<ul class="breadcrumb">

    <li><a href="#">班级管理</a></li>
    <li class="active">修改学生信息</li>
</ul>


<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/Teacher/StuAlter" id="form1">
    <input type="hidden" value="@Model.StudentID" id="studentID" name="studentID" />
    <div class="form-group col-lg-6">
        <label for="Stu_Name">姓名:</label>
        <input type="text" value="@Model.Stu_Name" name="Stu_Name" placeholder="请输入姓名" class="form-control" />
    </div>
    <input type="hidden" value="123456" name="Stu_Passwrod" class="form-control" />
    <div class="form-group col-lg-6">
        <label for="Stu_Namber">学号:</label>
        @*<input type="radio" value="true" name="Sex" checked />男
            <input type="radio" value="false" name="Sex" />女*@
        <input type="text" value="@Model.Stu_Namber" name="Stu_Namber" placeholder="请输入学号" class="form-control" />
    </div>

    <div class="form-group col-lg-6">
        <label for="Stu_Sex">性别:</label>
        @*<input type="text" value="@Model.Stu_Sex" name="Stu_Sex" placeholder="请输入性别" class="form-control" />*@
        <input type="radio" value="0" name="Stu_Sex" checked />男
        <input type="radio" value="1" name="Stu_Sex" />女
    </div>
    <div class="form-group col-lg-6">
        <label for="IDCard">身份证:</label>
        <input type="text" value="@Model.IDCard" name="IDCard" placeholder="请输入身份证" class="form-control" onblur="isCardNo(this.value)" />
    </div>

    <div class="form-group col-lg-6">
        <label for="Nation">民族:</label>

        <select class="form-control" name="Nation">
            <option value="0" selected>汉族</option>
            <option value="1">壮族</option>
            <option value="2">维吾尔族</option>
        </select>
    </div>
    <div class="form-group col-lg-6">
        <label for="NativePlace">籍贯:</label>
        <input type="text" value="@Model.NativePlace" name="NativePlace" placeholder="请输入籍贯" class="form-control" />
    </div>
    <div class="form-group col-lg-6">
        <label for="PoliticsStatus">政治面貌:</label>
        @*<input type="text" value="@Model.PoliticsStatus" name="PoliticsStatus" placeholder="请输入政治面貌" class="form-control" />*@
        <select class="form-control" name="PoliticsStatus">
            <option value="0" selected>共青团员</option>
            <option value="1"> 共产党员</option>
            <option value="2">其它</option>
        </select>
    </div>
    <div class="form-group col-lg-6">
        <label for="Phone">手机号:</label>
        <input type="text" value="@Model.Phone" name="Phone" placeholder="请输入手机号" class="form-control" />
    </div>
    <div class="form-group col-lg-6">
        <label for="Class_ID">班级:</label>
        <select class="form-control" name="Class_ID">
            @foreach (var item in cla)
            {
                <option name="Class_ID" value="@item.Class_ID">@item.ClassName</option>
            }
        </select>
    </div>
    <input type="hidden" value="@Model.Stu_Password" name="Stu_Password" class="form-control" />
    <div class="form-group col-lg-6">
        <label for="EnrollmentYear">入学年份:</label>
        <select class="form-control" name="EnrollmentYear">
            <option value="2018">2018</option>
        </select>
    </div>

    <div class="form-group col-lg-6">
        <label for="SchoolRoll">学籍状态:</label>
        <select class="form-control" name="SchoolRoll">
            <option value="0">退学</option>
            <option value="1" selected>正常</option>
            <option value="2">休学</option>
        </select>
    </div>

    <div class="form-group col-lg-6">
        <label for="Stu_Photo">照片:</label>
        <img src="~/Images/@Model.Stu_Photo" height="50" width="50" />
        <input type="hidden" value="@Model.Stu_Photo" name="Stu_Photo" />
        <input type="file" name="EPhoto" value="@Model.Stu_Photo" />

    </div>

    <div class="form-group col-lg-12">
        <a href="javascript:history.go(-1)" class="btn btn-link">返回</a>
        <input type="submit" class="btn btn-danger" value="保存" />
    </div>
</form>


@section scripts{
    <script type="text/javascript">
        $("#form1").validate({
            rules: {
                Stu_Name: { required: true, maxlength: 10 },
                Stu_Namber: { required: true, maxlength: 12 },
                Stu_Sex: { required: true, maxlength: 12 },
                IDCard: { required: true, isCardNo:true }
            },
            messages: {
                Stu_Name: { required: "账号必填", maxlength: "账号输入内容不能超过10字" },
                Stu_Namber: { required: "学号必填", ErrorMessage: "学号必须为12为数字组成" },
                Stu_Sex: { required: "性别必填", ErrorMessage: "性别（男，女）" },
                IDCard:{ required: "身份证必填", isCardNo: "请输入正确的身份证" },
            }
        })
        $.validator.addMethod("isCardNo", function (value, e) {
            // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X 
            var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            if (reg.test(card) === false) {
                alert("身份证输入不合法");
                return false;
            }
        })

    </script>
}