
@{
    ViewBag.Title = "StuEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Du_Class.Models;
@model List<Student>


@{
    int code = 1;
}
<ul class="breadcrumb">
    <li><a href="#">班级管理</a></li>
    <li class="active">编辑学生信息</li>
</ul>
<div class="col-lg-9">
    <a href="#" id="BatchDelete" class="btn btn-danger">批量删除</a>
</div>
<div class="col-lg-3">
    <form action="/Teacher/StuInfo" method="post" class="form-inline">
        <label for="Name">姓名: </label>
        <input type="text" name="Name" id="userName" value="@ViewBag.Name" class="form-control" placeholder="请入姓名模糊查询" />
        <input type="submit" value="查询" class="btn btn-success" />
    </form>
</div>

<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr class="active">
            <th><input type="checkbox" id="selectAll" />全选</th>
            <td>编号</td>
            <td>班级</td>
            <td>学号</td>
            <td>姓名</td>
            <td>性别</td>
            <td>身份证</td>
            <td>民族</td>
            <td>籍贯</td>
            <td>政治面貌</td>
            <td>手机号</td>
            <td>入学年份</td>
            <td>学籍状态</td>

            <td>照片</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="warning">
                <td><input type="checkbox" name="sub" value="@item.StudentID" /></td>
                <td>@(code++)</td>
                <td>@item.Class.ClassName</td>
                <td>@item.Stu_Namber</td>
                <td>@item.Stu_Name</td>
                <td>@item.Stu_Sex</td>
                <td>@item.IDCard</td>
                <td>@item.Nation</td>
                <td>@item.NativePlace</td>
                <td>@item.PoliticsStatus</td>

                <td>@item.Phone</td>
                <td>@item.EnrollmentYear</td>

                @if (item.SchoolRoll == "1")
                {
                    <td>正常</td>
                }
                else if (item.SchoolRoll == "0")
                {
                    <td>退学</td>
                }
                else
                {
                    <td>休学</td>
                }
                <td><img src="~/Images/@item.Stu_Photo" width="50" height="50" /></td>

                <td>
                    <a href="~/Teacher/StuDelete?id=@item.StudentID" class="btn btn-danger" onclick="return confirm('您确定要删除吗？')">删除</a>
                    <a href="~/Teacher/StuAlter?id=@item.StudentID" class="btn btn-primary">修改</a>
                </td>

            </tr>
        }
    </tbody>
</table>


<div classs="row">
    <div class="col-lg-8">
        <label style="color:black;">总共 @ViewBag.totalCount 行</label>
        <select onchange="window.location = this.value;">
            @{
                int[] count = new[] { 2, 4, 5, 10, 15 };
            }
            @foreach (var item in count)
            {
                if (item.Equals(ViewBag.pageCount))
                {
                    <option value="/Teacher/StuEdit?departmentId=@ViewBag.departmentId&Name=@ViewBag.Name&pageIndex=@ViewBag.pageIndex&pageCount=@item" selected>@item</option>
                }
                else
                {
                    <option value="/Teacher/StuEdit?departmentId=@ViewBag.departmentId&Name=@ViewBag.Name&pageIndex=@ViewBag.pageIndex&pageCount=@item">@item</option>
                }

            }
        </select>
    </div>
    <div class="col-lg-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/Teacher/StuEdit?departmentId=@ViewBag.departmentId&Name=@ViewBag.Name&pageIndex=1&pageCount=@ViewBag.pageCount">首页</a>
                </li>
                @if (ViewBag.pageIndex > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Teacher/StuEdit?departmentId=@ViewBag.departmentId&Name=@ViewBag.Name&pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">上一页</a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" href="#">@ViewBag.pageIndex</a>
                </li>

                @if (ViewBag.pageIndex < ViewBag.totalPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Teacher/StuEdit?departmentId=@ViewBag.departmentId&Name=@ViewBag.Name&pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">下一页</a>
                    </li>
                }
                <li class="page-item"><a class="page-link" href="/Teacher/StuEdit?departmentId=@ViewBag.departmentId&Name=@ViewBag.Name&pageIndex=@ViewBag.totalPage&pageCount=@ViewBag.pageCount">末页</a></li>
            </ul>
        </nav>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        //全选
        $("#selectAll").on('click', function () {
            $("input[name='sub']").prop("checked", this.checked);
        });
        //反选
        $("input[name='sub']").on('click', function () {
            var $subs = $("input[name='sub']");
            $("#selectAll").prop("checked", $subs.length == $subs.filter(":checked").length ? true : false);
        });

        //批量删除
        $("#BatchDelete").click(function () {
            var checked = $("input[name='sub']:checked");//获得复选框选中的值
            if (checked.length == 0) {
                alert("请选择要删除的记录！");
                return;
            }
            //将获取的值存入数组
            var checkData = new Array();
            checked.each(function () {
                checkData.push($(this).val());
            })

            //提交数据到后台进行删除
            $.ajax({
                type: "post",
                url: "/Teacher/BatchDelete",
                data: {
                    "checkData": checkData.toString()
                },
                success: function (data) {
                    if (data == "1") {
                        alert("删除成功");
                    }
                    else {
                        alert("删除失败");
                    }
                    window.location.reload();//页面刷新
                },
                error: function (xhr, testStatus, errorThrown) {
                    //错误信息处理
                    alert("删除失败，请检查是否数据冲突！");
                }

            })
        });
    </script>
}










@*<ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                2018173801
            </a>
        </li>
        <li><a href="#ios" data-toggle="tab">2018173802</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="active">

                        <td>编号</td>
                        <td>班级</td>
                        <td>学号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>身份证</td>
                        <td>民族</td>
                        <td>籍贯</td>
                        <td>政治面貌</td>
                        <td>手机号</td>
                        <td>入学年份</td>
                        <td>学籍状态</td>

                        <td>照片</td>
                        <td>操作</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.cla1 as List<Class>)
                    {

                    <tr class="warning">
                        <td>@(code1++)</td>
                        <td>@item.ClassName</td>

                        @foreach (var item1 in item.Student)
                        {

                            <td>@item1.Stu_Namber</td>
                            <td>@item1.Stu_Name</td>
                            <td>@item1.Stu_Sex</td>
                            <td>@item1.IDCard</td>
                            <td>@item1.Nation</td>
                            <td>@item1.NativePlace</td>
                            <td>@item1.PoliticsStatus</td>
                            <td>@item1.Phone</td>
                            <td>@item1.EnrollmentYear</td>

                            if (item1.SchoolRoll == "1")
                            {
                                <td>正常</td>
                            }
                            else if (item1.SchoolRoll == "0")
                            {
                                <td>退学</td>
                            }
                            else
                            {
                                <td>休学</td>
                            }

                            <td><img src="~/Images/@item1.Stu_Photo" width="50" height="50" /></td>


                            <td>
                                <a href="~/Teacher/StuDelete?id=@item1.StudentID" class="btn btn-danger" onclick="return confirm('您确定要删除吗？')">删除</a>
                                <a href="~/Teacher/StuAlter?id=@item1.StudentID" class="btn btn-primary">修改</a>
                            </td>

                        }



                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="ios">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="active">
                        <td>编号</td>
                        <td>班级</td>
                        <td>学号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>身份证</td>
                        <td>民族</td>
                        <td>籍贯</td>
                        <td>政治面貌</td>
                        <td>手机号</td>
                        <td>入学年份</td>
                        <td>学籍状态</td>
                        <td>照片</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.cla2 as List<Class>)
                    {
                        <tr class="warning">

                            @foreach (var item1 in item.Student)
                            {
                        <tr class="warning">
                            <td>@(code2++)</td>
                            <td>@item.ClassName</td>
                            <td>@item1.Stu_Namber</td>
                            <td>@item1.Stu_Name</td>
                            <td>@item1.Stu_Sex</td>
                            <td>@item1.IDCard</td>
                            <td>@item1.Nation</td>
                            <td>@item1.NativePlace</td>
                            <td>@item1.PoliticsStatus</td>
                            <td>@item1.Phone</td>
                            <td>@item1.EnrollmentYear</td>
                            @if (item1.SchoolRoll == "1")
                            {
                                <td>正常</td>
                            }
                            else if (item1.SchoolRoll == "0")
                            {
                                <td>退学</td>
                            }
                            else
                            {
                                <td>休学</td>
                            }
                            <td><img src="~/Images/@item1.Stu_Photo" width="50" height="50" /></td>

                            <td>
                                <a href="~/Teacher/StuDelete?id=@item1.StudentID" class="btn btn-danger" onclick="return confirm('您确定要删除吗？')">删除</a>
                                <a href="~/Teacher/StuAlter?id=@item1.StudentID" class="btn btn-primary">修改</a>
                            </td>
                        </tr>
                        }
                            </tr>
                        }
                </tbody>
            </table>

    </div>


    分页*@

