
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    int code = 1;
}
@using Du_Class.Models;
@model List<Course>

<ul class="breadcrumb">
    <li><a href="#">课程管理</a></li>
    <li class="active">添加课程</li>
</ul>


<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr class="active">
            <td>课程编号</td>

            <td>课程名</td>
            <td>班级</td>
            <td>授课老师</td>
            <td>上课地点</td>
            <td>开课时间</td>
     
            <td>辅导员</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="warning">
            <td>@(code++)</td>
          
            <td>@item.CourseName</td>
            <td>@item.Class.ClassName</td>
            <td>@item.Tea_Name</td>
            <td>@item.ClassRoom</td>
            <td> @string.Format("{0:yyyy年MM月dd日}",item.SchoolTime)</td>
 
            <td>@item.Class.Teacher.TeacherName</td>
            <td>
                <a href="" class="btn btn-danger">删除</a>
                <a href="" class="btn btn-primary">修改</a>
            </td>

        </tr>
        }
    </tbody>
</table>
