
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using Du_Class.Models;
@model List<Course>

<ul class="breadcrumb">
    <li><a href="#">课程管理</a></li>
    <li class="active">添加课程</li>
</ul>

<input type="submit" value="新增" class="btn btn-info" />
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr class="active">
            <td>课程编号</td>
            <td>课程名</td>
            <td>授课老师</td>
            <td>上课地点</td>
            <td>上课日期</td>
            <td>上课时间</td>
            <td>辅导员</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="warning">
                <td>@item.CourseID</td>
                <td>@item.CourseName</td>
                <td>@item.Tea_Name</td>
                <td>@item.CourseName</td>
                <td>@item.SchoolTime</td>
                <td>@item.NewTime</td>
                <td>@item.Teacher.TeacherName</td>
                <td>
                    <a href="" class="btn btn-danger">删除</a>
                    <a href="" class="btn btn-primary">修改</a>
                </td>

            </tr>
        }
    </tbody>
</table>
